<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapping 映射规范
  1、mapper.namespace书写；
  2、resultMap 作用；
  3、sql指令 参数（id，parametermap/type,resultMap/type）-->
<mapper namespace="com.jc.system.dao.SysRoleDao">
    <resultMap id="sysRoleMap" type="com.jc.system.entity.SysRole">
        <id property="role_id" column="role_id"/>
        <result property="role_name" column="role_name"/>
        <result property="role_desc" column="role_desc"/>
        <result property="if_vilid" column="if_vilid"/>
    </resultMap>
    <sql id="sysRole_columns">
        role_id,
        role_name,
        role_desc,
        if_vilid
    </sql>
    <!--展示全部角色信息-->
    <select id="loadRoleAll" resultType="com.jc.system.entity.SysRole">
        select
            <include refid="sysRole_columns"></include>
        from
            tb_sys_role
    </select>

</mapper>