<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapping 映射规范
  1、mapper.namespace书写；
  2、resultMap 作用；
  3、sql指令 参数（id，parametermap/type,resultMap/type）-->
<mapper namespace="com.jc.system.dao.SysRoleDao">
    <resultMap id="sysRoleMap" type="com.jc.system.entity.SysRole">
        <id property="role_id" column="role_id"/>
        <result property="role_name" column="role_name"/>
        <result property="role_desc" column="role_desc"/>
        <result property="if_vilid" column="if_vilid"/>
        <collection property="userList" ofType="com.jc.system.entity.SysUser">
            <id property="userId" column="USERID"/>
            <result property="loginName" column="loginName"/>
            <result property="password" column="password"/>
            <result property="state" column="state"/>
            <result property="createTime" column="createTime"/>
            <result property="phonenum" column="phonenum"/>
            <result property="email" column="email"/>
            <result property="headportrait" column="headportrait"/>
            <result property="bystate" column="bystate"/>
            <result property="wechat" column="wechat"/>
        </collection>
    </resultMap>
    <sql id="sysRole_columns">
        role_id,
        role_name,
        role_desc,
        if_vilid
    </sql>
    <!--展示全部角色信息-->
    <select id="loadRoleAll" resultMap="sysRoleMap">
         SELECT headportrait, role_name, loginName ,phonenum, PASSWORD
         FROM tb_sys_user a LEFT JOIN tb_user_role b ON a.userid=b.user_id LEFT JOIN tb_sys_role c ON
         b.role_id = c.role_id
    </select>


    <!--通过用户id删除用户角色-->
    <delete id="deleteSysRoleById" parameterType="int">
        DELETE
        FROM
        tb_sys_role
        WHERE
        role_id = #{roleId}
    </delete>
    <!--将新的用户和角色关系添加到关系表中-->
    <insert id="addNewUserRole" parameterType="com.jc.system.entity.SysUserRole">
        INSERT
        INTO
        tb_user_role
        VALUES(#{user_id}, 2)
    </insert>

    <!--根据userId删除用户角色信息-->
    <delete id="deleteSysUserByUserId" parameterType="int">
        DELETE
        FROM
        tb_sys_user
        WHERE
        userid= #{userid}
    </delete>

    <!--通过用户id查询用户角色信息-->
    <select id="findUserRoleInfoByUserId" resultMap="sysRoleMap">
        SELECT headportrait, role_name, loginName ,phonenum, PASSWORD
        FROM tb_sys_user a LEFT JOIN tb_user_role b ON a.userid=b.user_id LEFT JOIN tb_sys_role c ON
        b.role_id = c.role_id
        where userid = #{userid}
    </select>
    <!--根据role_name模糊查询-->
    <select id="getRoleByRoleName" resultMap="sysRoleMap">
        SELECT headportrait, role_name, loginName ,phonenum, PASSWORD
        FROM tb_sys_user a LEFT JOIN tb_user_role b ON a.userid=b.user_id LEFT JOIN tb_sys_role c ON
        b.role_id = c.role_id
        where role_name like "%"#{Rname}"%"
    </select>


</mapper>