<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapping 映射规范
  1、mapper.namespace书写；
  2、resultMap 作用；
  3、sql指令 参数（id，parametermap/type,resultMap/type）

-->
<mapper namespace="com.jc.system.dao.SysUserDao">

    <resultMap id="sysUserMap" type="com.jc.system.entity.SysUser">
        <id property="userId" column="USERID"/>
        <result property="loginName" column="loginName"/>
        <result property="password" column="password"/>
        <result property="state" column="state"/>
        <result property="createTime" column="createTime"/>
    </resultMap>
    <sql id="sysUser_colums">
        userid,
        loginName,
        password,
        state,
        createTime,
        phonenum,
        email,
        headportrait
    </sql>

    <!--前台登录-->
    <select id="findUserInfoByEmail" parameterType="string" resultMap="sysUserMap">
        select
        <include refid="sysUser_colums"/>
        from
        tb_sys_user u
        where
        u.email = #{email}
    </select>

    <!--后台登录-->
    <select id="findUserInfoByPhonenum" parameterType="string" resultMap="sysUserMap">
        select
        <include refid="sysUser_colums"/>
        from
        tb_sys_user u
        where
        u.phonenum = #{phonenum}
    </select>
    <!--根据用户名查询其权限-->
    <select id="findPermissionsByUserName" parameterType="string" resultType="sysPermission">
    select p.*
        from
         tb_sys_user        u,
         tb_sys_role        r,
         tb_sys_permission  p,
         tb_user_role       ur,
         tb_role_permission rp
    where
        u.userid = ur.user_id
        and ur.role_id = r.role_id
        and r.role_id = rp.role_id
        and rp.permission_id = p.permission_id
        and u.loginName=#{loginName}
    </select>


    <!--添加新用户-->
    <insert id="addNewSysUser" parameterType="com.jc.system.entity.SysUser">
        INSERT
        INTO
        tb_sys_user(loginName, password, phonenum)
        VALUES ( #{loginName}, #{password}, #{phonenum})
    </insert>
</mapper>